<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
    <head>
        <title>VIEW WS_WEBSERVICES</title>
    </head>
    <body>
        <section layout:fragment="header">
            <h1>WS_WEBSERVICESS</h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">VIEW WS_WEBSERVICES</li>
            </ol>
        </section>
        <div layout:fragment="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Form</h3>
                    <div class="box-tools pull-right">
                        <a href="/wswebservices/list" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
                    </div>
                </div>
                <form data-toggle="validator" role="form" th:object="${wsrv}" th:action="@{/wswebservices/delete}" method="post">
                    <div class="box-body">
                        <input type="hidden" th:field="*{id}"/>

                         <div class="form-group">
                            <label for="webserviceName">WS_Webservice Name</label>
                            <input type="text" required="true" class="form-control" th:field="*{webserviceName}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"  
                                   id="webserviceName" />
                        </div>
                        <div class="form-group">
                            <label for="apiUrl">URL</label>
                            <input type="text" required="true" class="form-control" th:field="*{apiUrl}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="apiUrl" />
                        </div>
                        
                         <div class="form-group">
                            <label for="webserviceType">Webservice Type</label>
                            <select  class="form-control" th:field="*{webserviceType}"  th:readonly="${enableEdit}" style="width:800px;"  id="webserviceType" >
                                <option th:value="'SOAP'" th:text="SOAP"></option>
                                <option th:value="'REST'" th:text="REST"></option>
                            </select>
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="apiRestUri">Rest URI</label>
                            <input type="text" required="true" class="form-control" th:field="*{apiRestUri}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="apiRestUri" />
                        </div>
                        
                         <div class="form-group">
                            <label for="apiRestMethod">Webservice Method</label>
                            <select  class="form-control" th:field="*{apiRestMethod}"  th:readonly="${enableEdit}" style="width:800px;"  id="apiRestMethod" >
                                <option th:value="'NONE'" th:text="NONE"></option>
                                <option th:value="'POST'" th:text="POST"></option>
                                <option th:value="'GET'" th:text="GET"></option>
                                <option th:value="'HEAD'" th:text="HEAD"></option>
                                <option th:value="'PUT'" th:text="PUT"></option>
                                <option th:value="'PATCH'" th:text="PATCH"></option>
                                <option th:value="'DELETE'" th:text="DELETE"></option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="restMediaType">Media Type</label>
                            <input type="text" required="true" class="form-control" th:field="*{restMediaType}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="restMediaType" />
                        </div>
                        
                        <div class="form-group">
                            <label for="contentType">Centent Type</label>
                            <input type="text" required="true" class="form-control" th:field="*{contentType}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="contentType" />
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="restBindParam">Webservice Method</label>
                            <select  class="form-control" th:field="*{restBindParam}"  th:readonly="${enableEdit}" style="width:800px;"  id="restBindParam" >
                                <option th:value="'NONE'" th:text="NONE"></option>
                                <option th:value="'PATHPARAM'" th:text="PATHPARAM"></option>
                                <option th:value="'QUERYPARAM'" th:text="QUERYPARAM"></option>
                                <option th:value="'MATRIXPARAM'" th:text="MATRIXPARAM"></option>
                                <option th:value="'HEADERPARAM'" th:text="HEADERPARAM"></option>
                                <option th:value="'COOKIEPARAM'" th:text="COOKIEPARAM"></option>
                                <option th:value="'FORMPARAM'" th:text="FORMPARAM"></option>
                                <option th:value="'DEFAULTVALUE'" th:text="DEFAULTVALUE"></option>
                                <option th:value="'CONTEXT'" th:text="CONTEXT"></option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="apiRestRequest">Rest Request</label>
                           <textarea  rows = "10" class="form-control" th:field="*{apiRestRequest}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="apiRestRequest" >...</textarea>
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="apiSoapWsdl">SOAP WSDL</label>
                           <textarea  rows = "10" class="form-control" th:field="*{apiSoapWsdl}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="apiSoapWsdl" >...</textarea>
                        </div>
                        
                        <div class="form-group">
                            <label for="apiSoapXsd">SOAP XSD</label>
                           <textarea  rows = "10" class="form-control" th:field="*{apiSoapXsd}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="apiSoapXsd" >...</textarea>
                        </div>
                        
                        <div class="form-group">
                            <label for="apiSoapRequest">SOAP Request</label>
                           <textarea  rows = "10" class="form-control" th:field="*{apiSoapRequest}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="apiSoapRequest" >...</textarea>
                        </div>
                        
                         <div class="form-group">
                            <label for="remoteOperator">Operator</label>
                            <input type="text" required="true" class="form-control" th:field="*{remoteOperator}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="remoteOperator" />
                        </div>
                        
                        <div class="form-group">
                            <label for="remoteConTimeout">Connection TimeOut</label>
                            <input type="number"  class="form-control" th:field="*{remoteConTimeout}"  required="true" th:readonly="${enableEdit}" 
                                   style="width:800px;" id="remoteConTimeout" />
                        </div>
                        
                        <div class="form-group">
                            <label for="remoteReqTimeout">Request TimeOut</label>
                            <input type="number"  class="form-control" th:field="*{remoteReqTimeout}"  required="true" th:readonly="${enableEdit}" 
                                   style="width:800px;" id="remoteReqTimeout" />
                        </div>
                        
                        <div class="form-group">
                            <label for="remoteMaxConnexion">Max Connection</label>
                            <input type="number"  class="form-control" th:field="*{remoteMaxConnexion}"  required="true" th:readonly="${enableEdit}" 
                                   style="width:800px;" id="remoteMaxConnexion" />
                        </div>
                        
                        <div class="form-group">
                            <label for="remoteMaxRequest">Max Request</label>
                            <input type="number"  class="form-control" th:field="*{remoteMaxRequest}"  required="true" th:readonly="${enableEdit}" 
                                   style="width:800px;" id="remoteMaxRequest" />
                        </div>
                        
                         <div class="form-group">
                            <label for="remoteSecutityMode">Webservice Method</label>
                            <select  class="form-control" th:field="*{remoteSecutityMode}"  th:readonly="${enableEdit}" style="width:800px;"  id="remoteSecutityMode" >
                                <option th:value="'NONE'" th:text="NONE"></option>
                                <option th:value="'SOAP_BASIC_AUTH'" th:text="SOAP_BASIC_AUTH"></option>
                                <option th:value="'SOAP_HEAD_TOKEN'" th:text="SOAP_HEAD_TOKEN"></option>
                                <option th:value="'SOAP_HEAD_AUTH'" th:text="SOAP_HEAD_AUTH"></option>
                                <option th:value="'REST_BASIC_AUTH'" th:text="REST_BASIC_AUTH"></option>
                                <option th:value="'REST_TOKEN_AUTH'" th:text="REST_TOKEN_AUTH"></option>
                                <option th:value="'REST_TOKEN_AUTH_ROLE'" th:text="REST_TOKEN_AUTH_ROLE"></option>
                                <option th:value="'REST_OAUTH1'" th:text="REST_OAUTH1"></option>
                                <option th:value="'REST_OAUTH2'" th:text="REST_OAUTH2"></option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="securityLogin">Security Login</label>
                            <input type="text" required="true" class="form-control" th:field="*{securityLogin}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="securityLogin" />
                        </div>
                        
                        <div class="form-group">
                            <label for="securityPassword">Security Password</label>
                            <input type="text" required="true" class="form-control" th:field="*{securityPassword}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="securityLogin" />
                        </div>
                        
                        <div class="form-group">
                            <label for="authorizationType">Token Authorization Type</label>
                            <input type="text" required="true" class="form-control" th:field="*{authorizationType}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="authorizationType" />
                        </div>
                        
                        <div class="form-group">
                            <label for="token">Token</label>
                            <input type="text" required="true" class="form-control" th:field="*{token}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="token" />
                        </div>
                        
                         <div class="form-group">
                            <label for="expireTimeToken">Start Time</label>
                            <div class='input-group date' style="width:800px;" id='expireTimeToken'>
                                <input type='text' class="form-control" required="true" th:field="*{expireTimeToken}"   th:readonly="${enableEdit}"
                                       ng-model="dateString" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input type="text"  class="form-control" th:field="*{description}" 
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="description" />
                        </div>
                    </div>

                    <div class="form-group">
                        <a th:href="@{/wswebservices/list}" class="btn btn-default" role="button" title="Back list">
                            <span aria-hidden="true"></span>Back To List
                        </a>

                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
