<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Promotions</title>
</head>
<body>
<section layout:fragment="header">
    <h1>List Promotions</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Promotions</li>
</ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Lists</h3>
            <div class="box-tools pull-right">
                <a href="/products/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
                <br clear="all" />
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Promotion Name</th>
                    <th>Filter</th>                   
                    <th>Start Time</th>
                    <th>End Time</th>        
                    <th>Reduction Mode</th>
                    <th>Enable Extend</th>           
                    <th>Description</th>
                    <th>Create Date</th>
                    <th>Update Date</th>
                </tr>
                <tr th:each="row : ${list}">
                    <td th:text="${row.id}"></td>
                    <td th:text="${row.promotion_name}"></td>
                    <td th:text="${row.promotion_filter}"></td>
                    <td th:text="${#dates.format(row.start_time, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(row.end_time, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${row.reduction_mode}"></td>
                    <td th:text="${row.isExtend}"></td>
                    <td th:text="${row.description}"></td>
                    <td th:text="${#dates.format(row.create_time, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(row.update_time, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <a th:href="${'/products/edit/' + row.id}">View</a> |
                        <a th:href="${'/products/delete/' + row.id}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="/products/1">First</a></li>
                <li th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}" th:class="${p == currentIndex} ? 'active' : ''">
                    <a th:href="${'/products/' + p}" th:text="${p}"></a>
                </li>
                <li><a th:href="${'/products/' + endIndex}">Last</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
