<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
    <head>
        <title>Products</title>
    </head>
    <body>
        <section layout:fragment="header">
            <h1>List Products</h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Products</li>
            </ol>
        </section>
        <div layout:fragment="content">
            <div class="box">

                <div class="box-header with-border">
                    <a class="box-title btn btn-primary" th:href="@{/products/form}">ADD PRODUCT</a>


                    <div class="box-tools">
                        <form th:action="@{/products/list}" method="get">
                            <div class="input-group input-group-sm" style="width: 250px;">
                                <input type="text" name="value" class="form-control pull-right"
                                       placeholder="search by product code" th:if="${key} == null"/>
                                <input type="text" name="value" class="form-control pull-right"
                                       placeholder="search by product code" th:if="${key} != null"
                                       th:value="${key}"/>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="box-body no-padding">
                    Show <span sd:page-size-selector="javascript"></span> entries
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th><a class="fa fa-fw fa-sort"/><a class="sorted" sd:pagination-sort="id"/>ID</th>
                                    <th><a class="fa fa-fw fa-sort"/><a class="sorted" sd:pagination-sort="productCode"/>Product Code</th>
                                    <th><a class="fa fa-fw fa-sort"/><a class="sorted" sd:pagination-sort="regFee"/>Reg Fee</th>
                                    <th><a class="fa fa-fw fa-sort"/><a class="sorted" sd:pagination-sort="restrictProduct"/>Restrict Product</th>
                                    <th><a class="fa fa-fw fa-sort"/><a class="sorted" sd:pagination-sort="startTime"/>Start Time</th>
                                    <th><a class="fa fa-fw fa-sort"/><a class="sorted" sd:pagination-sort="endTime"/>End Time</th>
                                    <th><a class="fa fa-fw fa-sort"/><a class="sorted" sd:pagination-sort="isFrameValidity"/>Frame Validity</th>
                                    <th><a class="fa fa-fw fa-sort"/><a class="sorted" sd:pagination-sort="pendingDuration"/>Pending Duration</th>
                                    <th>Promotion</th>
                                    <th>Service</th>

                                    <th><a class="fa fa-fw fa-sort"/><a class="sorted" sd:pagination-sort="description"/>Descript</th>
                                    <th><a class="fa fa-fw fa-sort"/><a class="sorted" sd:pagination-sort="createTime"/>Create Date</th>
                                    <th><a class="fa fa-fw fa-sort"/><a class="sorted" sd:pagination-sort="updateTime"/>Update Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="row : ${products}">
                                    <td th:text="${row.id}"></td>
                                    <td th:text="${row.productCode}"></td>
                                    <td th:text="${row.regFee}"></td>
                                    <td th:text="${row.restrictProduct}"></td>
                                    <td th:text="${#dates.format(row.startTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${#dates.format(row.endTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${row.isFrameValidity}"></td>
                                    <td th:text="${row.pendingDuration}"></td>                                 
                                    <td th:if="${row.promotion != null}" th:text="${row.promotion.promotionName}"></td>
                                    <td th:if="${row.promotion == null}" ></td>
                                    
                                    <td th:if="${row.service != null}" th:text="${row.service.serviceName}"></td>
                                    <td th:if="${row.service == null}" ></td>
                                    <td th:text="${row.description}"></td>
                                    <td th:text="${#dates.format(row.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${#dates.format(row.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td>
                                        <a href="#" class="btn btn-default" th:href="@{/products/view(id=${row.id})}"
                                           title="View Data"><span class="glyphicon glyphicon-eye-open"></span></a>
                                        <a href="#" class="btn btn-default" th:href="@{/products/form(id=${row.id})}"
                                           title="Edit Data"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a href="#" class="btn btn-default" th:href="@{/products/delete(id=${row.id})}"
                                           title="Delete Data"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(products.content)}">
                                    <td colspan="13" class="text-center">No data</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                </div>

                <div th:if="${not #lists.isEmpty(products.content)}">

                    <div sd:pagination-summary="">info</div>
                    <div class="text-center">
                        <nav>
                            <ul class="pagination" sd:pagination="full">
                                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                <li class="disabled"><a href="#" aria-label="Previous"><span
                                            aria-hidden="true">&laquo;</span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>


            </div>
        </div>
    </body>
</html>
