<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
    <head>
        <title>ADD SERVICES</title>
    </head>
    <body>
        <section layout:fragment="header">
            <h1>SERVICES</h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">ADD SERVICES</li>
            </ol>
        </section>
        <div layout:fragment="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Form</h3>
                    <div class="box-tools pull-right">
                        <a href="/services/list" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
                    </div>
                </div>
                <form data-toggle="validator" role="form" th:object="${srv}" th:action="@{/services/form}" method="post">
                    <div class="box-body">
                        <input type="hidden" th:field="*{id}"/>

                        <div class="form-group">
                            <label for="serviceName">Service Name</label>
                            <input type="text" required="true" class="form-control" th:field="*{serviceName}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"  
                                   id="serviceName" />
                        </div>
                        <div class="form-group">
                            <label for="receiveChannel">Receive Channel</label>
                            <input type="text" required="true" class="form-control" th:field="*{receiveChannel}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="receiveChannel" />
                        </div>
                        <div class="form-group">
                            <label for="sendChannel">Send Channel</label>
                            <input type="text" required="true" class="form-control" th:field="*{sendChannel}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="sendChannel" />
                        </div>

                        <div class="form-group">
                            <label for="serviceProvider">Service Provider</label>
                            <input type="text"  class="form-control" th:field="*{serviceProvider}" 
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="serviceProvider" />
                        </div>

                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input type="text"  class="form-control" th:field="*{description}" 
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="description" />
                        </div>
                         <div class='input-group date' style="width:800px;" id='createTime'>
                            <input type="hidden" class="form-control"  th:field="*{createTime}" 
                                   ng-model="dateString"  />
                        </div>
                    </div>
                    <div class="form-group">
                        <a th:href="@{/services/list}" class="btn btn-default" role="button" title="Back list">
                            <span aria-hidden="true"></span>Back To List
                        </a>
                        <span th:if="${enableSave}">
                            <button type="submit" class="box-title btn btn-primary" name="action" value="save" title="Save Data">Save</button>
                        </span>
                        <span th:unless="${enableSave}">
                            <button type="submit" class="box-title btn btn-primary" name="action" value="update" title="Update Data">Update</button>
                        </span>

                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
