<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Services</title>
</head>
<body>
<section layout:fragment="header">
    <h1>List Services</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Services</li>
</ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Lists</h3>
            <div class="box-tools pull-right">
                <a href="/services/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
                <br clear="all" />
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Service Name</th>
                    <th>Receive Channel</th>
                    <th>Send Channel</th>
                    <th>Provider</th>
                    <th>Description</th>
                    <th>Create Date</th>
                    <th>Update Date</th>
                </tr>
                <tr th:each="row : ${list}">
                    <td th:text="${row.id}"></td>
                    <td th:text="${row.service_name}"></td>
                    <td th:text="${row.receive_channel}"></td>
                    <td th:text="${row.send_channel}"></td>
                    <td th:text="${row.service_provider}"></td>
                    <td th:text="${row.description}"></td>
                    <td th:text="${#dates.format(row.create_time, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(row.update_time, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <a th:href="${'/services/edit/' + row.id}">View</a> |
                        <a th:href="${'/services/delete/' + row.id}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="/services/1">First</a></li>
                <li th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}" th:class="${p == currentIndex} ? 'active' : ''">
                    <a th:href="${'/services/' + p}" th:text="${p}"></a>
                </li>
                <li><a th:href="${'/services/' + endIndex}">Last</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
