<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" th:fragment="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="active treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Home</span>
            </a>
        </li>
               
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>Service Provider</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/services/form"><i class="fa fa-circle-o"></i> Add Services</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/services/list"><i class="fa fa-circle-o"></i> List Services</a></li>
            </ul>
           
        </li>
        
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>Promotions</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/promotions/form"><i class="fa fa-circle-o"></i> Add Promotions</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/promotions/list"><i class="fa fa-circle-o"></i> List Promotions</a></li>
            </ul>
           
        </li>
        
         <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>Products</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/products/form"><i class="fa fa-circle-o"></i> Add Products</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/products/list"><i class="fa fa-circle-o"></i> List Products</a></li>
            </ul>
           
        </li>
        
         <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>Parameters</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/parameters/form"><i class="fa fa-circle-o"></i> Add Parameter</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/parameters/list"><i class="fa fa-circle-o"></i> List Parametes</a></li>
            </ul>
           
        </li>
    </ul>
</section>
<!-- /.sidebar -->