<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
    <head>
        <title>ADD NOTIFICATION</title>
    </head>
    <body>
        <section layout:fragment="header">
            <h1>NOTIFICATIONS</h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">ADD NOTIFICATION</li>
            </ol>
        </section>
        <div layout:fragment="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Form</h3>
                    <div class="box-tools pull-right">
                        <a href="/notifications/list" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
                    </div>
                </div>
                <form data-toggle="validator" role="form" th:object="${notif}" th:action="@{/notifications/form}" method="post">
                    <div class="box-body">
                        <input type="hidden" th:field="*{id}"/>
                        
                        

                        <div class="form-group">
                            <label for="noficationName">Parameter Name</label>
                            <input type="text" required="true" class="form-control" th:field="*{noficationName}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"  
                                   id="noficationName" />
                        </div>
                        <div class="form-group">
                            <label for="notificationValue">Notification Value</label>
                           <textarea  rows = "10" class="form-control" th:field="*{notificationValue}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="notificationValue" >...</textarea>
                        </div>
                        
                        
                        
                        <div class="form-group">
                            <label for="defaultValue">Notification Value</label>
                           <textarea  rows = "10" class="form-control" th:field="*{defaultValue}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="defaultValue" >...</textarea>
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="Action">Command</label>
                            <select  class="form-control"  th:field="*{command.commandName}" th:readonly="${enableEdit}" style="width:800px;"  id="promotion_filter" >
                                <option th:value="'NONE'" th:text="NONE"></option>
                                <option th:each="cmd : ${listCommand}"
                                        th:value="${cmd.commandName}"
                                        th:utext="${cmd.commandName}" />
                            </select>
                        </div>
                        
                     

                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input type="text"  class="form-control" th:field="*{description}" 
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="description" />
                        </div>
                    </div>

                    <div class="form-group">
                        <a th:href="@{/noficationName/list}" class="btn btn-default" role="button" title="Back list">
                            <span aria-hidden="true"></span>Back To List
                        </a>
                        <span th:if="${enableSave}">
                            <button type="submit" class="box-title btn btn-primary" name="action" value="save" title="Save Data">Save</button>
                        </span>
                        <span th:unless="${enableSave}">
                            <button type="submit" class="box-title btn btn-primary" name="action" value="update" title="Update Data">Update</button>
                        </span>
                        
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
