<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
    <head>
        <title>VIEW WS_CLIENT</title>
    </head>
    <body>
        <section layout:fragment="header">
            <h1>WS_CLIENTS</h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">VIEW WS_CLIENT</li>
            </ol>
        </section>
        <div layout:fragment="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Form</h3>
                    <div class="box-tools pull-right">
                        <a href="/wsclients/list" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
                    </div>
                </div>
                <form data-toggle="validator" role="form" th:object="${wcl}" th:action="@{/wsclients/delete}" method="post">
                    <div class="box-body">
                        <input type="hidden" th:field="*{id}"/>

                                               <div class="form-group">
                            <label for="clientName">WS_Client Name</label>
                            <input type="text" required="true" class="form-control" th:field="*{clientName}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"  
                                   id="clientName" />
                        </div>
                        <div class="form-group">
                            <label for="login">Login</label>
                            <input type="text" required="true" class="form-control" th:field="*{login}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="login" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text" required="true" class="form-control" th:field="*{password}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="password" />
                        </div>
                        
                        <div class="form-group">
                            <label for="ipAddress">IP Address Allow</label>
                            <input type="text" required="true" class="form-control" th:field="*{ipAddress}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="ipAddress" />
                        </div>
                        
                        <div class="form-group">
                            <label for="tpsAllow">TPS</label>
                            <input type="number" required="true" class="form-control" th:field="*{tpsAllow}"
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="tpsAllow" />
                        </div>

                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input type="text"  class="form-control" th:field="*{description}" 
                                   th:readonly="${enableEdit}"
                                   style="width:800px;"
                                   id="description" />
                        </div>
                    </div>

                    <div class="form-group">
                        <a th:href="@{/wsclients/list}" class="btn btn-default" role="button" title="Back list">
                            <span aria-hidden="true"></span>Back To List
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
